


/* Styling the image */
img{
    max-width: 100%;
    height: auto; 
    display: block;
    border-radius: 15px;/* change border of image to be round */
}

/* Styling the title and text */
div:nth-child(1) {
    font-size: 14px;
    font-style: italic;
    color: #000000;
    align-self: flex-start; /* align to the left */
}

/* Styling the date */
div:nth-child(2) {
    font-size: 13px;
    margin: 5px 0;
    color: rgb(58, 53, 53);
    align-self: flex-start; /* align to the left */
}
/* Styling the visibility */
div:nth-child(3) {
    font-size: 13px;
    margin: 5px 0;
    color: rgb(149, 144, 144);
    align-self: flex-start; /* align to the left */
}
